---
import BaseButton from "@components/base/BaseButton";
import Card from "@components/base/Card.astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

export interface Props {
  entry: CollectionEntry<"projects">;
}

const { data } = Astro.props.entry;

const { title, tags, description, path, github, imagePath, imageAltText } =
  data;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}",
);
if (!images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`,
  );
---

<Card>
  <h2 class="text-xl font-semibold">{title}</h2>
  <div class="tag-container">
    {tags && tags.map((tag) => <span class="tag">{tag}</span>)}
  </div>
  <section>
    <p class="prose font-sans">{description}</p>
    <Image
      src={images[imagePath]()}
      alt={imageAltText}
      class:list={"rounded-md shadow-sm my-2"}
    />
    <div class="flex justify-end gap-2">
      {
        github && (
          <BaseButton
            title="Github"
            path={path}
            classes="smol w-fit mt-2 self-end"
          />
        )
      }
      {
        path && (
          <BaseButton
            title={`Visit ${title}`}
            path={path}
            classes="smol w-fit mt-2 self-end"
          />
        )
      }
    </div>
  </section></Card
>
