---
import type { CollectionEntry } from "astro:content";
import { formatDate } from "@helpers/dates";
import Accordion from "@components/base/Accordion.astro";
import Card from "@components/base/Card.astro";

export interface Props {
  entry: CollectionEntry<"education">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const {
  data: { course, institution, from, to, grade, modules },
  body,
} = entry;
---

<Card>
  <h2>
    <span class="text-xl font-semibold">{course}</span> &sdot; <span
      >{institution}</span>
  </h2>
  <p>{formatDate(from)} - {formatDate(to)}</p>
  <p class="mb-4">Grade: {grade}</p>
  <div class="prose font-sans">
    <Accordion summary="Modules" details={modules} />
    {body && <Content />}
  </div>
</Card>
