---
import type { CollectionEntry } from 'astro:content'
import { formatDate } from '../helpers';
import Accordion from './Accordion.astro';
import Card from './Card.astro';

export interface Props {
    entry: CollectionEntry<"education">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---
<Card>
    <h2><span class="text-xl font-semibold">{entry.data.course}</span> &sdot; <span>{entry.data.institution}</span></h2>
    <p>{formatDate(entry.data.from)} - {formatDate(entry.data.to)}</p>
    <p class="mb-4">Grade: {entry.data.grade}</p>
    <div class="prose font-sans" aria-hidden="true">
        <Accordion summary="Modules" details={entry.data.modules}/>
        {entry.body && <Content/>}
    </div>
</Card>