---
import type { CollectionEntry } from 'astro:content'
import { formatDate } from '../helpers';
import Accordion from './Accordion.astro';

export interface Props {
    entry: CollectionEntry<"experience">
}

const { entry } = Astro.props;
---
<article class="font-mono p-4 mb-4 border-solid border-2 border-periwinkle bg-slate-300 bg-opacity-10 rounded-xl">
    <h2 class="text-xl font-semibold">{entry.data.company}</h2>
    <p>{entry.data.location}</p>
    {entry.data.roles.sort((a, b) => {
        return a.from < b.from ? 1 : -1;
    }).map(role =>(
        <section>
            <h3 class="text-lg font-medium mt-4">{role.title}</h3>
            <p class="mb-4">{formatDate(role.from)} - {formatDate(role.to)}</p>
            <div class="prose font-sans" aria-hidden="true">
                <p set:html={role.description}/>
                <Accordion summary="Techstack" details={role.tech}/>
            </div>
        </section>
    ))}
</article>